<!doctype html>
<html>
<head>
    <title>Sign this petition</title>
    <link rel='stylesheet' href='/css/unicorn.css'/>
</head>
<body>
    <header></header>
        {{{body}}}
    <footer></footer>
</body>
</html>
